
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="form-group col-md-6 mx-auto mt-5">
    <form method="post" action="/output/" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="form-control"  type="file" name="file" required/><br>
        <input class="btn btn-primary offset-5" type="submit"/>





    </form>
    {% if data %}
{#        <h1 class="text-info justify-content-center text-center mt-5">List of Pages with Chart Notes</h1>#}
{#        <div class="table-responsive text-nowrap">#}
{#            <table class="table table-bordered table-hover mx-auto my-5 w-auto">#}
{#              <thead>#}
{#                <tr>#}
{#                  <th scope="col th-sm">#</th>#}
{#                  <th scope="col th-sm">Page #</th>#}
{#                </tr>#}
{#              </thead>#}
{#              <tbody>#}
{#                {% for item in data %}#}
{#                    <tr class="{% if forloop.counter|divisibleby:2%}#}
{#                            table-info#}
{#                        {% endif %}"#}
{#                    >#}
{#                        <th scope="row">{{ forloop.counter }}</th>#}
{##}
{#                        <td>Page: {{ item }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{##}
{#              </tbody>#}
{#            </table>#}
{#        </div>#}



    {% endif %}
    </div>
</body>
</html>